<!DOCTYPE html>
<html>
    <head>
        <title>JDStore </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
          	<!-- 导航栏 -->
          <div class="row">
              <%= render "common/navbar" %>
             <!-- flash 提示讯息 -->
              <%= render "common/flashes" %>
            <div style="margin-top:32px;">
              <%= yield %>
            </div>
          </div>
            <!-- footer -->
          <%= render "common/footer" %>
       </div>
    </body>
</html>
